.gdbar img {
  width: 250px ;
  height: 75px ;
  margin: 8px 8px;
}

.gdbar {
  width: 300px ;
  height: 150px ;
}

slides > slide:not(.nobackground):before {
  width: 250px;
  height: 75px;
  background-size: 150px 75px;
}